name: Terraform Apply (dev)

on:
  push:
    branches:
      - main
    paths:
      - "envs/dev/**"
      - "**/*.tf"

permissions:
  id-token: write
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Call reusable apply workflow
        uses: cmamith/eks-infra-pipeline/.github/workflows/terraform-apply-reusable.yml@main
        with:
          workdir: envs/dev/ap-southeast-1
        env:
          AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
          AWS_REGION:   ${{ secrets.AWS_REGION }}


